#chart {
    width: 600px;
    width: 600px;
    background-image: url("/static/favicon.png");
    background-size: auto 250px;
    background-position: 50% 58%;
    background-repeat:no-repeat;   
}

input[type=text] {
    width: 500px;
}

html{
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: 100%;
}