<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

    <script
              src="https://code.jquery.com/jquery-3.4.1.js"
              integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
              crossorigin="anonymous"></script>
</head>
<body>
    <form action="/face.json" id="face">
        <input type="text" name="image_url">
        <input type="submit">
    </form>

<canvas id="myChart" width="400" height="400"></canvas>
<script type="text/javascript" src="/static/chart.js">
</script>

</body>
</html>